# Godot 4+ specific ignores
.godot/
build/*
.sconsign*.dblite
.vscode

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp


!extension/TiltFiveNDK/lib/*/*