# Godot 4+ specific ignores
.godot/
build
.sconsign*.dblite
.vscode
.vs

*.sln
*.csproj

# Binaries
*.o
*.os
*.so
*.dll
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.aar

# project specific ignores
!extension/TiltFiveNDK/lib/*/*/*

example.gd/android/
example.gd/export_presets.cfg
example.csharp/android/
example.csharp/export_presets.cfg
